* {
  box-sizing: border-box;
}

#LoginLogo {
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

#LoginLogoContainer {
  width:100%;
	display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;
}

#Bienvenu {
  width:100%;
	display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;
}
