.right{
  margin-left: auto;
  margin-right: 0;
}

.layout-wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
}

.layout-footer {
  position: absolute;
  bottom: 0;
}
