<div class="layout-wrapper">

  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="assets/LoginLogo.png" height="40" class="p-mr-2" alt="brand logo">
      <h2>Questing Board</h2>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Recherche" [(ngModel)]="searchValue">
            <button type="button" pButton (click)="Clear()" pRipple icon="pi pi-refresh" styleClass="p-button-warn"></button>
        </div>
    </div>
      <span class="right"><app-auth></app-auth></span>
    </ng-template>
  </p-menubar>

  <div class="layout-sidebar">
    <p-sidebar [(visible)]="display">
      <app-nav></app-nav>
    </p-sidebar>
  </div>

  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>

    <div class="layout-footer">
      <p>&copy; Ketsman Ruben 2022</p>
    </div>
  </div>
</div>
