<div class="layout-wrapper surface-ground">
  <p-toast></p-toast>
  <p-menubar  [model]="items">
    <ng-template pTemplate="start">
      <div class="flex justify-content-center align-items-center">
        <img src="assets/LoginLogo.png" height="50px" class="p-mr-2 inline-block" alt="brand logo">&nbsp;&nbsp;
        <h2 class="inline-block">Questing Board</h2>&nbsp;&nbsp;
        <p-button type="button" (click)="display = true" icon="pi pi-bars"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex justify-content-center align-items-center">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Recherche" [(ngModel)]="searchValue">
          <button type="button" pButton (click)="Clear()" pRipple icon="pi pi-refresh" styleClass="p-button-warn"></button>
        </div>
        <span class="right inline-block"><app-auth></app-auth></span>
      </div>
    </ng-template>
  </p-menubar>

  <div class="layout-sidebar">
    <p-sidebar [(visible)]="display" [baseZIndex]="10000">
      <app-nav></app-nav>
    </p-sidebar>
  </div>

  <div class="layout-content justify-content-center align-items-center flex">
    <router-outlet></router-outlet>

    <div class="layout-footer justify-content-center align-items-center">
      <p>&copy; Ketsman Ruben 2022</p>
    </div>
  </div>
</div>
