<div class="surface-section">
  <div class="font-medium text-3xl text-900 mb-3">Votre Profil</div>
  <ul class="list-none p-0 m-0">
    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Pseudo</div>
      <div [(ngModel)]="currentQuester">{{currentQuester.username}}</div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{currentQuester.username}}</div>
    </li>
    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Email</div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{currentQuester.email}}</div>
    </li>
    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Date de Naissance</div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{currentQuester.birthDate}}</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>
      </div>
    </li>
    <li *ngIf="currentQuester.Strikes!=0" class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Nombre de transgressions</div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{currentQuester.Strikes}}</div>
    </li>
    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Fond d'écran</div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Fond nº: {{currentQuester.backgroundId}}</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Changer" icon="pi pi-pencil" class="p-button-text min-w-max"></button>
      </div>
    </li>
    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Bio</div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{currentQuester.bio}}</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Changer" icon="pi pi-pencil" class="p-button-text" (click)="op.toggle($event)"></button>
        <p-overlayPanel class="p-overlaypanel" #op [showCloseIcon]="true" [style]="{width: '450px'}">
            <ng-template class="p-overlaypanel-content" pTemplate>
              <form [formGroup]="NewBioFG" (ngSubmit)="onSubmitBio()">
                <label for="bio" class="block text-900 font-medium mb-2 inline-block">Bio</label>&nbsp;
                <input id="bio" type="text" pInputText class="p-inputtext p-component p-element w-2 mb-3 inline-block" formControlName="bio">
                <button pButton pRipple icon="pi pi-check" label="Valider" style="width: fit-content;" ngButtontype="submit" [disabled]="NewBioFG.invalid"></button>
              </form>
            </ng-template>
        </p-overlayPanel>
      </div>
    </li>
    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Joue Online</div>
      <div *ngIf="currentQuester.onlinePlay===true" class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Oui</div>
      <div *ngIf="currentQuester.onlinePlay===false" class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Non</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Changer" onclick="onSubmitOnline()" icon="pi pi-pencil" class="p-button-text"></button>
      </div>
    </li>
    <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Joue Traditionnel</div>
      <div *ngIf="currentQuester.offlinePlay===true" class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">Oui</div>
      <div *ngIf="currentQuester.offlinePlay===false"  class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">Non</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Changer" onclick="onSubmitOffline()" icon="pi pi-pencil" class="p-button-text"></button>
      </div>
    </li>
  </ul>
</div>
